@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header Style  */
.header_container {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.header_container span {
    color: #FF42A5;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
}

.logo>img {
    width: 60px;
    height: auto;
    margin-right: 15px;
}

.menu ul {
    display: flex;
    color: #3C354F;
    font-weight: 500;
    align-items: center;
}

.menu li {
    list-style: none;
    font-size: 12px;
}

.menu a {
    text-decoration: none;
}

.list_item {
    margin-right: 15px;
    padding: 5px;
    cursor: pointer;
}

.list_item2 {
    padding: 5px;
    cursor: pointer;
    display: flex;
}

.menu_icon_container {
    display: flex;
    align-items: center;
    border-radius: 7px;
    background: rgba(11, 2, 35, 0.10);
    padding: 3px 8px 3px 8px;

}

.menu img {
    width: 22px;
    height: 19px;
    padding-top: 2px;
}

/* banner style  */

.banner_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner_container_text {
    background-image: url(images/Group\ 14.png);
    height: 500px;
    width: 570px;
    justify-content: space-evenly;
    background-size: cover;
    text-align: center;

}

.banner_container_text2 {
    padding: 100px;
}

.banner_img {
    height: auto;
    width: 490px;
    margin-right: 190px;
    padding-left: 20px;
    padding: 25px 0 0 20px;
}

.banner_heading {
    color: #0B0223;
    font-size: 34px;
    font-weight: 600;
}

.banner_heading2 {
    font-family: Work Sans;
    font-size: 70px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner_container_text li {
    list-style: none;
    color: #534C64;
    font-size: 13px;
    font-weight: 500;

    padding: 6px;
}


.banner_icon {
    width: 15px;
    height: 15px;
    margin-right: 7px;

}

.banner_list {
    align-items: center;
}

.btn_primary {
    padding: 12px 24px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    margin-right: 7px;
    margin-top: 20px;
}

/* online games funny video section*/
.online_section_text {
    text-align: center;
    margin: 90px 165px 40px 165px;
}

.onli_img_conatainer {
    display: flex;
    justify-content: space-around;
    margin: 0 150px 0 150px;
    /* margin: 25px 165px 100px 165px; */
}

.onli_img_deco {
    width: 215px;
    height: 235px;
}

.online_section_text h3 {
    color: #0B0223;
    font-size: 33px;
    font-weight: 700;

}
.onli_heading {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 33px;
    font-weight: 700;
}



.online_section_text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 200;
}

.img_text {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 190px;
    /* padding: 0px 5px 20px; */
    color: #534C64;
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
}