@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header Style  */
.header_container {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.header_container span {
    color: #FF42A5;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
}

.logo>img {
    width: 60px;
    height: auto;
    margin-right: 15px;
}

.menu ul {
    display: flex;
    color: #3C354F;
    font-weight: 500;
    align-items: center;
}

.menu li {
    list-style: none;
    font-size: 12px;
}

.menu a {
    text-decoration: none;
}

.list_item {
    margin-right: 15px;
    padding: 5px;
    cursor: pointer;
}

.list_item2 {
    padding: 5px;
    cursor: pointer;
    display: flex;
}

.menu_icon_container {
    display: flex;
    align-items: center;
    border-radius: 7px;
    background: rgba(11, 2, 35, 0.10);
    padding: 3px 8px 3px 8px;

}

.menu img {
    width: 22px;
    height: 19px;
    padding-top: 2px;
}

/* banner style  */

.banner_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner_container_text {
    background-image: url(images/Group\ 14.png);
    height: 500px;
    width: 570px;
    justify-content: space-evenly;
    background-size: cover;
    text-align: center;

}

.banner_container_text2 {
    padding: 100px;
}

.banner_img {
    height: auto;
    width: 490px;
    margin-right: 190px;
    padding-left: 20px;
    padding: 25px 0 0 20px;
}

.banner_heading {
    color: #0B0223;
    font-size: 34px;
    font-weight: 600;
}

.banner_heading2 {
    font-family: Work Sans;
    font-size: 70px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner_container_text li {
    list-style: none;
    color: #534C64;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    padding: 6px;
    margin-left: 55px;
}


.banner_icon {
    width: 15px;
    height: 15px;
    margin-right: 7px;

}

.banner_list {
    align-items: center;
}

.btn_primary {
    padding: 12px 24px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    margin-right: 7px;
    margin-top: 20px;
    color: #FFF;
}

.btn_primary2 {
    padding: 12px 24px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    margin-right: 7px;
    margin-top: 20px;
    color: #FFF;
}

/* play instantly section  */
/* play instantly section  */
/* play instantly section  */
.play_instantly_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-left: 170px;
}

.play_inst_text_sec {
    width: 280px;
}

.play_inst_text_sec h3 {
    text-align: right;
    font-size: 35px;
    font-weight: 700;
}

.play_inst_text_sec span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play_inst_text_sec p {
    color: #534C64;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    padding: 20px;
    line-height: 20px;
}

.play_ins_img_container {
    position: relative;
}

.play_instant_img1 {
    height: auto;
    width: 400px;
    /* padding: 25px 0 0 10px; */
    margin: 87px;
    /* padding-right: 10px; */
    padding-top: 10px;
    margin-right: 105px;
}

.play_instant_img2 {
    height: auto;
    width: 200px;
    position: absolute;
    left: 15px;
    bottom: 55px;
}

/* online games funny video section*/
/* online games funny video section*/
/* online games funny video section*/
.online_section_text {
    text-align: center;
    margin: 90px 165px 40px 165px;
}

.onli_img_conatainer {
    display: flex;
    justify-content: space-around;
    margin: 0 150px 0 150px;
    position: relative;
    /* margin: 25px 165px 100px 165px; */
}

.onli_img_deco {
    width: 215px;
    height: 235px;
}
 /* hover hover   hover   hover  */
 /* hover hover   hover   hover  */



.hover_img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    position: absolute;
    top: 90px;
    right: 335px;
    opacity: 0;
}
.hover_heading {
    position: absolute;
    top: 150px;
    right: 315px;
    color: #FF42A5;
    opacity: 0;
}
.hover_effect:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
    cursor: pointer;
    /* background-color: #0B0223; */
}
.hover_effect:hover .hover_img {
    opacity: 1;

}
.hover_effect:hover .hover_heading {
    opacity: 1;
}

.online_section_text h3 {
    color: #0B0223;
    font-size: 33px;
    font-weight: 700;

}

.onli_heading {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 33px;
    font-weight: 700;
}



.online_section_text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 200;
}

.img_text {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 190px;
    /* padding: 0px 5px 20px; */
    color: #534C64;
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
}

/* game logo section  */
/* game logo section  */
/* game logo section  */

.game_logo_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 150px;
}

.game_logo_container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 180px;
}

.game_logo_section img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50px;

}

.game_logo_section span {
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
}
.game_logo_hover {
    display: flex;
    text-align: center;
    align-items: center;
}
.game_logo_hover:hover {
    border: 1.5px solid #FF42A5;
    border-radius: 30px;
    padding: 2px;
    color: #FF42A5;
}
.game_logo_container span:hover {
    color: #f74ed2;
}
.game_logo_container2 span:hover {
    color: #f74ed2;
}
/* footer footer foooter foooter  */
/* footer footer foooter foooter  */
/* footer footer foooter foooter  */
.footer_section_container {
    background: #0B0223;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.footer_sec2 {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.footer_sec2 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-align: center;
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 600;
    margin: 0 180px 40px 180px;
    padding: 0 100px;

}

.footer_sec2 a {
    text-decoration: none;
    color: #FFF;
}

.logo1 span {
    color: #FF42A5;
}

.logo1>img {
    width: 60px;
    height: auto;
    margin-right: 15px;
}

.logo1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    margin: 60px;
    padding-top: 70px;
}

.social_icon {
    width: 30px;
    height: 30px;
    padding: 15px;
}

.essential_link ul {
    display: flex;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.essential_link li {
    padding: 20px;
}

.copyright_sec {
    color: rgba(255, 255, 255, 0.60);
    font-size: 11px;
    font-weight: 500;
    padding: 10px 0 80px;

}


